---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Lora);

// Our variables
$roboto: 'Roboto';
$base-font-family: 'Lora';
$base-font-size:   1.18em;
$base-font-size-post: 1.1em;
$small-font-size:  .8em;
$base-line-height: 1.8;
$intro-post-preview-font: 1.1em;
$intro-post-preview-font-small: .66em;
$intro-post-font-small: 1.8em;
$base-post-title-font: 4em;
$base-post-title-font-desktop-hd: 5em;
$base-post-entry-font-tablet: 3em;
$base-post-entry-font-desktop: 3.5em;
$base-post-meta-entry-font-tablet: .77em;

$spacing-unit:     30px;

$base-color-font: rgba(0,0,0,0.8);
$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;
$js-color:	   	   rgb(246, 222, 60);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$js-color2:   	   #323230;

$node-color1:	   rgb(129, 192, 3);
$node-color2:	   rgb(41, 39, 38);

$angular-color1: rgb(189, 55, 66);
$angular-color2: rgb(242, 242, 242);

$react-color1: rgb(1, 210, 247);
$react-color2: #fff;

$backbone-color1: rgb(0, 128, 192);
$backbone-color2: rgb(0, 43, 64);

$meteor-color1: rgb(222, 79, 79);
$meteor-color2: rgb(39, 39, 43);

$polymer-color1: rgb(83, 108, 244);
$polymer-color2: rgb(240, 240, 243);


$icon-social-color: rgba(130, 130, 130, 0.6);
$icon-tw: #55acee;
$icon-fb: #3B5998;
$icon-go: #d34836;
$icon-link: #008cc9;

// Width of the content area
$content-width:    1300px;
$content-width-post: 1000px;
$desktop:		       960px;
$on-palm:          600px;
$on-laptop:        800px;
$on-mobile-small:  320px;
$desktop-hd:	     1200px;


// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

.node {
    background-color: $node-color1;
    border-radius: 3px;
    .node-text {
		> h2, span, p {
    		color: $node-color2;
    	}
    }
}

.node-post {
	background-color: $node-color1;
}

.node-text {
	color: $node-color2;
}

.js {
    background-color: $js-color;
    border-radius: 3px;
    .js-text {
    	> h2, span, p {
	        color: $js-color2;
	    }
    }
}

.js-post {
	background-color: $js-color;
}

.js-text {
	color: $js-color2;
}

.react {
    background-color: $react-color1;
    border-radius: 3px;
    .react-text {
    	> h2, span, p {
	        color: $react-color2;
	    }
    }
}

.react-post {
	background-color: $react-color1;
}

.react-text {
	color: $react-color2;
}

.angular {
    background-color: $angular-color1;
    border-radius: 3px;
    .angular-text {
    	> h2, span, p {
	        color: $angular-color2;
	    }
    }
}

.angular-post {
	background-color: $angular-color1;
}

.angular-text {
	color: $angular-color2;
}

.backbone {
    background-color: $backbone-color1;
    border-radius: 3px;
    .backbone-text {
    	> h2, span, p {
	        color: $backbone-color2;
	    }
    }
}

.backbone-post {
	background-color: $backbone-color1;
}

.backbone-text {
	color: $backbone-color2;
}

.meteor {
    background-color: $meteor-color1;
    border-radius: 3px;
    .meteor-text {
    	> h2, span, p {
	        color: $meteor-color2;
	    }
    }
}

.meteor-post {
	background-color: $meteor-color1;
}

.meteor-text {
	color: $meteor-color2;
}

.polymer {
    background-color: $polymer-color1;
    border-radius: 3px;
    .polymer-text {
    	> h2, span, p {
	        color: $polymer-color2;
	    }
    }
}

.polymer-post {
	background-color: $polymer-color1;
}

.polymer-text {
	color: $polymer-color2;
}


.icon-social {
	color: $icon-social-color;
	transition: color 1s ease;
	-o-transition: color 1s ease;
	-webkit-transition: color 1s ease;
	&:hover {
		color: $icon-social-color / 5;
	}
}

.icon-tw {
	color: $icon-tw;
	transition: color .6s ease;
	-webkit-transition: color 1s ease;
	-o-transition: color 1s ease;
	&:hover {
		color: $icon-tw  / 2;
	}
}

.icon-fb {
	color: $icon-fb;
	transition: color .6s ease;
	-webkit-transition: color 1s ease;
	-o-transition: color 1s ease;
	&:hover {
		color: $icon-fb  / 2;
	}
}

.icon-go {
	color: $icon-go;
	transition: color .6s ease;
	-webkit-transition: color 1s ease;
	-o-transition: color 1s ease;
	&:hover {
		color: $icon-go  / 2;
	}
}

.icon-link {
	color: $icon-link;
	transition: color .6s ease;
	-webkit-transition: color 1s ease;
	-o-transition: color 1s ease;
	&:hover {
		color: $icon-link / 2;
	}
}

.padding-i {
	padding-right: 5px;
}


@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin media-query-min($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}

@mixin media-query-devices($device-min, $device-max) {
    @media screen and (min-width: $device-min) and (max-width: $device-max) {
        @content;
    }
}





// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
