<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">Sigue el Blog...</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">          
          <li>
            <a href="https://twitter.com/elblogdejs" target="_blank">
              <i class="fa fa-twitter-square fa-2x icon-social"></i>
            </a>
          </li>          
          <li>
            <a href="https://facebook.com/elblogdejs" target="_blank">
              <i class="fa fa-facebook-official fa-2x icon-social"></i>
            </a>
          </li>
          <li>
            <a href="https://plus.google.com/u/0/110474541179337497760" target="_blank">
              <i class="fa fa-google-plus-square fa-2x icon-social"></i>
            </a>
          </li>          
          <li>
            <a href="https://github.com/elblogdejs" target="_blank">
              <i class="fa fa-github fa-2x icon-social"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-col footer-col-3">
        <p class="text">El Blog de JavaScript, Todos los derechos Reservados.</p>
      </div>
    </div>

  </div>

</footer>
