/**
 * Site header
 */
.site-header {
    background-color: $js-color2;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    position: relative;
    
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;    

    &,
    &:visited {
        color: $background-color;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $background-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;            
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

/**
 * Intro
 */
.intro {    
    height: 800px;
    position: relative;
    top: -1px;

    @include media-query($on-palm) {
        height: 600px;                      
    }

    @include media-query($on-laptop) {
        height: 700px;                            
    }

    .intro-home {
        padding: 218px 0;

        @include media-query($on-laptop) {
            padding: 212px 0;                           
        }

        > img {

            @include media-query($on-palm) {
                height: 135px;
                width: 170px;                      
            }
            @include media-query($on-laptop) {
                height: 180px;
                width: 220px;                      
            }
        }        
    }
    
    h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 6em;       
        text-align: center;
        margin: 0;
        
        
        @include media-query($desktop) {
            font-size: 5em;
                     
        }

        @include media-query($on-laptop) {
            font-size: 4em;            
        }        

        @include media-query($on-palm) {
            font-size: 3em;                      
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    text-align: center;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: 5px;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;   
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;    
    @extend %clearfix;
}





/**
 * Page content
 */
.page-content {
    padding: 50px 0;
}

.post-content {
    padding: 160px 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        display: inline-block;
        width: 31%;
        height: 230px;
        margin: 5% 1% 1% 1%;   
        position: relative; 

        @include media-query($on-palm) {
            width: 47%;
            height: 180px;
        }

        @include media-query($on-laptop) {
            width: 47%;
            height: 200px;
        }       
    }
}


.intro-post {              
    .post-into-preview {
        padding: 70px 20px 70px 20px;        
        position: absolute;
        > h2, span, p {
            font-family: $roboto, sans-serif;
            font-weight: bold;            
            margin: 0;                
        }
        > h2 {
            font-size: $intro-post-preview-font;

            @include media-query($on-palm) {
                font-size: $intro-post-preview-font-responsive;
            }

            @include media-query($on-laptop) {
                font-size: $intro-post-preview-font-responsive;
            }  
        }
        > span {
            font-size: $small-font-size;
            padding-right: 12px;
        }
        > p {            
            display: none;           
            margin-top: 15px;
            position: absolute;
        } 
        &:hover {
            > p {
                display: block;                
            }
        }

        @include media-query($on-palm) {
            padding: 30px 20px 70px 20px;
        }     
    }   
    > a {
        text-decoration: none;
    }           
}

/**
 * Intro Post
 */
.intro-post-entry {
    @extend .intro;
    .intro-meta {
        padding: 313px 0;
        .post-meta {
            text-align: center;
            margin-top: 12px;
            > span {
                font-family: $roboto, sans-serif;
                font-size: $intro-post-preview-font-responsive;                
                padding-right: 25px;
            }
        }              
    }    
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.social-sharing {
    text-align: center;
    background-color: rgba(179,179,179,0.45);
    padding: 50px 0;
    margin-top: 120px;
    > h1 {
        font-family: $roboto, sans-serif;
        font-size: 1.5em;
        margin: 0;        
    }
    .social-sharing-list {
        padding: 10px 0;
        @extend .social-media-list
    }
}

.author {
    @extend .social-sharing;   
}

.comments {
    margin-top: 150px;
}
